<a href="https://colab.research.google.com/github/tauk/3123game-dev/blob/master/week10Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
grades = pd.read_excel("Marks.xlsx", sheet_name="Grades", skiprows=3)
grades

       ID  Division  Quiz  Practical  Project  Final
0   H00247      EDU  84.0       67.0     69.6   67.0
1   H00258      HLT  74.0       68.0     67.0   73.0
2   H00269      ENG  88.0       86.0     75.6   74.0
3   H00224      EDU   NaN       71.0     65.8   71.0
4   H00269      EDU  22.0       65.0     66.8   78.0
5   H00277      ENG  40.0       68.0     76.4   68.0
6   H00277      HLT  71.0        NaN     64.6   70.0
7   H00293      BUS  50.0       74.0     60.6   78.0
8   H00247      CIS  61.0       70.0     66.4   82.0
9   H00149      APP  97.0       98.0     85.2   87.0
10  H00295      EDU  70.0       76.0     81.0   84.0
11  H00284      CIS  48.0       64.0     81.4   68.0
12  H00307      ENG  67.0       77.0     73.0   83.0
13  H00293      APP  38.0        NaN     64.6   77.0
14  H00293      BUS  80.0       76.0     68.4   83.0
15  H00293      APP  83.0       62.0     77.0   85.0
16  H00248      BUS  73.0       86.0     76.4   77.0
17     NaN      NaN   NaN        NaN      NaN    NaN
18  H00269      BUS  61.0       61.0     61.0   77.0
19  H00307      ENG  60.0       60.0     68.0   70.0
20  H00247      APP  60.0       65.0     62.8   69.0
21  H00269      HLT  75.0       63.0     71.0   72.0
22  H00293      CIS  76.0       88.0     81.4   75.0
23  H00293      ENG  61.0       83.0     71.0   73.0

In [2]:
grades_cleaned = grades.dropna(how="all")
grades_cleaned

       ID  Division  Quiz  Practical  Project  Final
0   H00247      EDU  84.0       67.0     69.6   67.0
1   H00258      HLT  74.0       68.0     67.0   73.0
2   H00269      ENG  88.0       86.0     75.6   74.0
3   H00224      EDU   NaN       71.0     65.8   71.0
4   H00269      EDU  22.0       65.0     66.8   78.0
5   H00277      ENG  40.0       68.0     76.4   68.0
6   H00277      HLT  71.0        NaN     64.6   70.0
7   H00293      BUS  50.0       74.0     60.6   78.0
8   H00247      CIS  61.0       70.0     66.4   82.0
9   H00149      APP  97.0       98.0     85.2   87.0
10  H00295      EDU  70.0       76.0     81.0   84.0
11  H00284      CIS  48.0       64.0     81.4   68.0
12  H00307      ENG  67.0       77.0     73.0   83.0
13  H00293      APP  38.0        NaN     64.6   77.0
14  H00293      BUS  80.0       76.0     68.4   83.0
15  H00293      APP  83.0       62.0     77.0   85.0
16  H00248      BUS  73.0       86.0     76.4   77.0
18  H00269      BUS  61.0       61.0     61.0   77.0
19  H00307      ENG  60.0       60.0     68.0   70.0
20  H00247      APP  60.0       65.0     62.8   69.0
21  H00269      HLT  75.0       63.0     71.0   72.0
22  H00293      CIS  76.0       88.0     81.4   75.0
23  H00293      ENG  61.0       83.0     71.0   73.0

In [3]:
grades_cleaned = grades_cleaned.fillna(0)
grades_cleaned

       ID  Division  Quiz  Practical  Project  Final
0   H00247      EDU  84.0       67.0     69.6   67.0
1   H00258      HLT  74.0       68.0     67.0   73.0
2   H00269      ENG  88.0       86.0     75.6   74.0
3   H00224      EDU   0.0       71.0     65.8   71.0
4   H00269      EDU  22.0       65.0     66.8   78.0
5   H00277      ENG  40.0       68.0     76.4   68.0
6   H00277      HLT  71.0        0.0     64.6   70.0
7   H00293      BUS  50.0       74.0     60.6   78.0
8   H00247      CIS  61.0       70.0     66.4   82.0
9   H00149      APP  97.0       98.0     85.2   87.0
10  H00295      EDU  70.0       76.0     81.0   84.0
11  H00284      CIS  48.0       64.0     81.4   68.0
12  H00307      ENG  67.0       77.0     73.0   83.0
13  H00293      APP  38.0        0.0     64.6   77.0
14  H00293      BUS  80.0       76.0     68.4   83.0
15  H00293      APP  83.0       62.0     77.0   85.0
16  H00248      BUS  73.0       86.0     76.4   77.0
18  H00269      BUS  61.0       61.0     61.0   77.0
19  H00307      ENG  60.0       60.0     68.0   70.0
20  H00247      APP  60.0       65.0     62.8   69.0
21  H00269      HLT  75.0       63.0     71.0   72.0
22  H00293      CIS  76.0       88.0     81.4   75.0
23  H00293      ENG  61.0       83.0     71.0   73.0

In [5]:
grades_cleaned.columns

Index(['ID ', 'Division', 'Quiz', 'Practical', 'Project', 'Final'], dtype='object')

In [6]:
len(grades_cleaned)

23

In [7]:
grades.shape

(24, 6)

In [8]:
grades_cleaned.shape[0]

23

In [9]:
grades_cleaned.shape[1]

6

In [10]:
#head
grades_cleaned.head()

      ID  Division  Quiz  Practical  Project  Final
0  H00247      EDU  84.0       67.0     69.6   67.0
1  H00258      HLT  74.0       68.0     67.0   73.0
2  H00269      ENG  88.0       86.0     75.6   74.0
3  H00224      EDU   0.0       71.0     65.8   71.0
4  H00269      EDU  22.0       65.0     66.8   78.0

In [11]:
#show the first 10 rows
grades_cleaned.head(10)

      ID  Division  Quiz  Practical  Project  Final
0  H00247      EDU  84.0       67.0     69.6   67.0
1  H00258      HLT  74.0       68.0     67.0   73.0
2  H00269      ENG  88.0       86.0     75.6   74.0
3  H00224      EDU   0.0       71.0     65.8   71.0
4  H00269      EDU  22.0       65.0     66.8   78.0
5  H00277      ENG  40.0       68.0     76.4   68.0
6  H00277      HLT  71.0        0.0     64.6   70.0
7  H00293      BUS  50.0       74.0     60.6   78.0
8  H00247      CIS  61.0       70.0     66.4   82.0
9  H00149      APP  97.0       98.0     85.2   87.0

In [12]:
#show only the first two rows
grades_cleaned.head(2)

      ID  Division  Quiz  Practical  Project  Final
0  H00247      EDU  84.0       67.0     69.6   67.0
1  H00258      HLT  74.0       68.0     67.0   73.0

In [13]:
grades_cleaned.tail()

       ID  Division  Quiz  Practical  Project  Final
19  H00307      ENG  60.0       60.0     68.0   70.0
20  H00247      APP  60.0       65.0     62.8   69.0
21  H00269      HLT  75.0       63.0     71.0   72.0
22  H00293      CIS  76.0       88.0     81.4   75.0
23  H00293      ENG  61.0       83.0     71.0   73.0

In [14]:
#show the last three rows
grades_cleaned.tail(3)

       ID  Division  Quiz  Practical  Project  Final
21  H00269      HLT  75.0       63.0     71.0   72.0
22  H00293      CIS  76.0       88.0     81.4   75.0
23  H00293      ENG  61.0       83.0     71.0   73.0

In [15]:
#show the rows from 5 to 10
grades_cleaned[5:11]

       ID  Division  Quiz  Practical  Project  Final
5   H00277      ENG  40.0       68.0     76.4   68.0
6   H00277      HLT  71.0        0.0     64.6   70.0
7   H00293      BUS  50.0       74.0     60.6   78.0
8   H00247      CIS  61.0       70.0     66.4   82.0
9   H00149      APP  97.0       98.0     85.2   87.0
10  H00295      EDU  70.0       76.0     81.0   84.0

In [16]:
#show the rows from 11 to 20
grades_cleaned[11:21]

       ID  Division  Quiz  Practical  Project  Final
11  H00284      CIS  48.0       64.0     81.4   68.0
12  H00307      ENG  67.0       77.0     73.0   83.0
13  H00293      APP  38.0        0.0     64.6   77.0
14  H00293      BUS  80.0       76.0     68.4   83.0
15  H00293      APP  83.0       62.0     77.0   85.0
16  H00248      BUS  73.0       86.0     76.4   77.0
18  H00269      BUS  61.0       61.0     61.0   77.0
19  H00307      ENG  60.0       60.0     68.0   70.0
20  H00247      APP  60.0       65.0     62.8   69.0
21  H00269      HLT  75.0       63.0     71.0   72.0

In [17]:
#show only the final column data
grades_cleaned["Final"]

0     67.0
1     73.0
2     74.0
3     71.0
4     78.0
5     68.0
6     70.0
7     78.0
8     82.0
9     87.0
10    84.0
11    68.0
12    83.0
13    77.0
14    83.0
15    85.0
16    77.0
18    77.0
19    70.0
20    69.0
21    72.0
22    75.0
23    73.0
Name: Final, dtype: float64

In [18]:
#show only ID and final marks
grades_cleaned[["ID ", "Final"]]

       ID   Final
0   H00247   67.0
1   H00258   73.0
2   H00269   74.0
3   H00224   71.0
4   H00269   78.0
5   H00277   68.0
6   H00277   70.0
7   H00293   78.0
8   H00247   82.0
9   H00149   87.0
10  H00295   84.0
11  H00284   68.0
12  H00307   83.0
13  H00293   77.0
14  H00293   83.0
15  H00293   85.0
16  H00248   77.0
18  H00269   77.0
19  H00307   70.0
20  H00247   69.0
21  H00269   72.0
22  H00293   75.0
23  H00293   73.0

In [19]:
#show only the quiz and practical marks
grades_cleaned[["Quiz", "Practical"]].head(3)

   Quiz  Practical
0  84.0       67.0
1  74.0       68.0
2  88.0       86.0

In [20]:
#loc function 
grades_cleaned.loc[5:10,"Quiz":"Final"]

    Quiz  Practical  Project  Final
5   40.0       68.0     76.4   68.0
6   71.0        0.0     64.6   70.0
7   50.0       74.0     60.6   78.0
8   61.0       70.0     66.4   82.0
9   97.0       98.0     85.2   87.0
10  70.0       76.0     81.0   84.0

In [21]:
grades_cleaned.head(1)

      ID  Division  Quiz  Practical  Project  Final
0  H00247      EDU  84.0       67.0     69.6   67.0

In [23]:
#iloc example
grades_cleaned.iloc[5:11, 0:3]

       ID  Division  Quiz
5   H00277      ENG  40.0
6   H00277      HLT  71.0
7   H00293      BUS  50.0
8   H00247      CIS  61.0
9   H00149      APP  97.0
10  H00295      EDU  70.0

In [24]:
#set index column to ID
grades_cleaned.set_index("ID ", inplace=True)

In [25]:
grades_cleaned.head(3)

       Division  Quiz  Practical  Project  Final
ID
H00247      EDU  84.0       67.0     69.6   67.0
H00258      HLT  74.0       68.0     67.0   73.0
H00269      ENG  88.0       86.0     75.6   74.0

In [26]:
#reset the index back to row index
grades_cleaned.reset_index(inplace = True)
grades.head()

      ID  Division  Quiz  Practical  Project  Final
0  H00247      EDU  84.0       67.0     69.6   67.0
1  H00258      HLT  74.0       68.0     67.0   73.0
2  H00269      ENG  88.0       86.0     75.6   74.0
3  H00224      EDU   NaN       71.0     65.8   71.0
4  H00269      EDU  22.0       65.0     66.8   78.0

In [27]:
#get the average of the Quiz column
grades_cleaned["Quiz"].mean()

62.56521739130435

In [28]:
#find the max marks in the Project
grades_cleaned["Project"].max()

85.2

In [29]:
#find the min marks in the Final
grades_cleaned["Final"].min()

67.0

In [30]:
#describe() example
grades_cleaned["Quiz"].describe()

count    23.000000
mean     62.565217
std      22.154060
min       0.000000
25%      55.000000
50%      67.000000
75%      75.500000
max      97.000000
Name: Quiz, dtype: float64

In [31]:
grades_cleaned.mean()

Quiz         62.565217
Practical    66.434783
Project      71.086957
Final        75.695652
dtype: float64

In [32]:
grades_cleaned.max()

ID           H00307
Division        HLT
Quiz             97
Practical        98
Project        85.2
Final            87
dtype: object

In [33]:
#show the unique values in Division column
grades_cleaned["Division"].unique()

array(['EDU', 'HLT', 'ENG', 'BUS', 'CIS', 'APP'], dtype=object)

In [34]:
#calculated column example
#calculate the courework average which is average of Quiz, Practical and Project
grades_cleaned["CWAverage"] = (grades_cleaned["Quiz"] + grades_cleaned["Practical"] + grades_cleaned["Project"]) / 3
grades_cleaned.head()

      ID  Division  Quiz  Practical  Project  Final  CWAverage
0  H00247      EDU  84.0       67.0     69.6   67.0  73.533333
1  H00258      HLT  74.0       68.0     67.0   73.0  69.666667
2  H00269      ENG  88.0       86.0     75.6   74.0  83.200000
3  H00224      EDU   0.0       71.0     65.8   71.0  45.600000
4  H00269      EDU  22.0       65.0     66.8   78.0  51.266667